.navbar {
    background: rgb(197, 0, 255);
    background: linear-gradient(357deg, rgba(197, 0, 255, 1) 0%, rgba(222, 111, 255, 1) 100%);
}

.sidebar {
    background: rgb(122, 63, 255);
    background: linear-gradient(180deg, rgba(122, 63, 255, 1) 0%, rgba(126, 60, 235, 1) 0%, rgba(98, 107, 247, 1) 0%, rgba(120, 48, 221, 1) 100%);
}